@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

body {
  margin: 0;
  font-family: 'proxima nova',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar{
  display: none;
}

:root{
  --white : #fff;
  --black:#000;
}


li{
  cursor: pointer;
}